/* .card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  padding: 1px;
  border: 5px solid rgb(175, 135, 214);
} */

/* .cardCon {
  width: 60%;
} */

/* .proj {
  width: 100%;
  height: 100%;
  align-items: flex-end;
} */

a {
  color: black;
  font-weight: bold;
}
