.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  color: #95bcf2;
  font-family: "Satisfy", cursive;
}

h3 {
  color: #95bcf2;
  font-family: "POLYA";
}

.projects {
  background-color: #95bcf2;
  border: none;
  color: black;
  padding: 15px 60px;
  font-size: 1.3em;
  font-family: "Satisfy", cursive;
  margin: 10px;
  border-radius: 50%;
}

@font-face {
  font-family: Polya;
  src: url(https://cdn.matteobruni.it/fonts/Polya/Polya.otf);
}

h1 {
  font-family: "POLYA";
  text-align: center;
  font-size: 2em;
}
